body{
    background-color: #b8c787;
    margin: 0px;
};

#wrapper{
    width: 960px;
    background-color: #f9db89;
    margin-left: auto;
    margin-right: auto;
};

header{
    background-color: #eeed9f;
    height: 150px;
    position: relative;
};

header img{
    width: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
};

#topLinks{
    position:absolute;
    width:500px;
    top: 100px;
    right: 10px;
};

#toplinks li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
};

a:link{
    color: #ee4a09;
    text-decoration: #f89279;
};

a:visited{
    color: #f89279;
};

a:hover{
    color: #9ace4d;
};

.currentPage{
    color: #ee4a09;
     border-bottom: solid thin #ee4a09;
};

.clearFix{
    clear: both;
}

main{
    background-image: url(./images/cat-hero.jpg_)
}

#homeInfo{
    background-color: rgba(225, 255, 255, 0.5);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
}

h1{
    font-size: 2em;
    color: white;
    padding-left: 30px;
    border-bottom: solid thin #ee4a09;
    padding-bottom: 15px;
    margin: 0%;
}

h2{
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: 10px;
    margin: 0px;
    padding-left: 30px;
}

p{
    font-size: 1em;
    padding-left: 30px;
}

footer{
    text-align: center;
    color: white;
    font-size: 0.8em;
    padding-top: 15px;
    padding-bottom: 10px;
}

#bookings, #volunteer, #gallery, #membership{
    background-image: none;
    padding-left: 25px;
}

.col1, .col2, .col3{
    width: 300px;
    float: left;
    text-align: center;
}

#bookings img{
    width: 60px;
}

#bookings h3, #volunteer h3, #membership h3{
    font-size: 1.5em;
}

#bookings p, #volunteer p{
    font-size: 1em;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column img{
    margin-top: 8px;
    vertical-align: middle;
}
